/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 oct. 2022, 15:02:40
    Author     : guillaume.reeves
*/
div {
    margin: 25px;
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    text-align: left;
    width: 300px;
    height: 50px;
}